* {
  margin: 0;
  padding: 0;
}

.container {
  background: yellow;
  height: 100px;
}

/* 태블릿 가로 및 더해상도 노트북, pc화면 */
@media screen and (max-width: 1280px) {
  .container {
    background: yellowgreen;
  }
}

/* 태블릿 세로 */
@media screen and (max-width: 1024px) {
  .container {
    background: blueviolet;
  }
}

/* 저해상도 태블릿 */
@media screen and (max-width: 767px) {
  .container {
    background: fuchsia;
  }
}

/* 스마트폰 */
@media screen and (max-width: 480px) {
  .container {
    background: crimson;
  }
}
