/* topnav : flex, 배경색 #333 */
.topnav {
  display: flex;
  background: #333;
}
/* topnav a :
    글자색:#f2f2f2
    가운데 정렬, 안쪽여백 : 상하 14px 좌우 16px
    밑줄 제거
*/
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* topnav a 마우스 오버
    배경색 #ddd / 글자색 black
*/
.topnav a:hover {
  background-color: #ddd;
  color: #ddd;
}

@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
  }
}
