/* 전체 바깥쪽,안쪽 여백 0, 사이즈 : border 까지 포함 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body font 적용 : , 배경색 : #f2f2f2 */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

/* login-box : w 350, m : 100 auto, 안쪽여백 30
    테두리, 배경색, 
*/
.login-box {
  width: 350px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #ccc;
  background-color: white;

  position: relative;
}

/* h1 : 가운데정렬, 글자크기 30, 바깥 아래쪽 여백 30 */
h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

/* label : display, 글자크기 15 , 바깥 아래쪽 여백 8 */
.label {
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
}

/* input : w: 100% , 글자크기 16 , 바깥 아래쪽 여백 20, 안쪽여백 10 */
.input {
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
}

/* button : w : 100% 안쪽여백 12, 테두리, 배경색, 글자색, 글자크기 18 */
button {
  width: 100%;
  padding: 12px;
  border: 1px solid #0066cc;
  background-color: #0066cc;
  color: white;
  font-size: 18px;
}

/* join : 바깥 위 여백 20, 가운데 정렬, 글자크기 14, 글자색상 gray */
.join {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: gray;
}

/* new : */
.new {
  position: absolute;
  top: -10px;
  right: -10px;

  padding: 5px 10px;
  border: 1px solid red;
  background-color: red;
  color: white;
}
