* {
  margin: 0;
  padding: 0;
}
div {
  background-color: brown;
  /* display: inline; */
  width: 500px;
  /* padding: 10px; */

  /* 값 부여 : 시계방향  */
  padding: 10px 20px 15px;
  margin: 20px;

  /* height: 300px;  */
}
span {
  background-color: burlywood;
  display: inline-block;
  width: 200px;
  padding: 10px;
  /* height: 300px; */
  margin: 20px;
}
